*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
}
#main{
  width: 100%;
  height: 100%;
}
#header{
  width: 100%;
  height: 10vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;

}
.text{

  color: rgb(2, 2, 78);
  display: flex;
}
.text:hover{
  color: lightblue;
}
#logo{

  height: 70%;

}
#logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
#fakeheader{
  width: 100%;
  height: 10vh;

}
#page1{
  width: 100%;
  height: 90vh;
}
#contact{

  text-align: center;
}
.icon{
  color: rgb(2, 2, 78);
  padding: 10px;
  border-radius: 50%;

}
.icon:hover{
  background-color: lightblue;

}
#login{
  display: flex;
  color: rgb(2, 2, 78);
  padding: 10px 15px;
  border-radius: 50%;

}
#login:hover{
  background-color: lightblue;

}
#try{
  background-color: rgb(2, 157, 2);
  color: white;
  padding: 10px 15px;


}
#try:hover{
  background-color: darkgreen;
}
#strip{
  height: 8%;
  width: 100%;
  background-color: rgb(1, 1, 75);
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}
#strip u{
  font-weight: lighter;
  margin-left: 20px;
}
#content{
  height: 76%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#heading{
  height: 16%;
  width: 100%;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  color: rgb(2, 2, 78);
}

#box1{
  height: 90%;
  width: 47%;
  background-color: white;



}
#box2{
  height: 90%;
  width: 47%;
  background-color: white;

}
#btns{
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 20px;

  
}
#btn1{
  height: 50%;
  width: 30%;
  background-color: rgb(70, 201, 245);
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  border: 1px solid white;
  border-radius: 5px;


}
#btn1:hover{
  background-color: darkblue;
}
#btn2{
  height: 50%;
  width: 30%;
  background-color: white;
  margin-left: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: rgb(2, 2, 78);
  border: 1px solid rgb(2, 2, 78);
  border-radius: 5px;
  object-fit: cover;


}
#btn2:hover{
  background-color: lightblue;
}
#box1 h1{
  font-size: 50px;
  margin-top: 50px;
  margin-left: 10px;
}
#box1 p{
  font-size: 25px;
  font-weight: lighter;
  margin: 20px;

}
#box2 img{
  height: 90%;
  width: 100%;
  border-radius: 20px;
}



